/* Main */

.custom{
    padding: 3rem 0rem;
    align-items: center;
    justify-content: space-between;
  }
  
  .textCustom{
    text-align: center;
    padding: 0.5em;
  }
  
  .imgContainer{
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }