//IF

$color: rgb(0, 0, 0);

p{
    @if ($color == rgb(0, 0, 0)) {
        color:#000000;
    } @else {
        color: black;
    }
}

//FOR

@for $i from 1 to 6{
    h#{$i}{
        font-size: (( $i * -1 ) + 5)rem;
    }
}

