@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "backtopbutton";
@import "navbarHeader";
@import "divider";
@import "section";
@import "form";
@import "caracteristicascursos";
@import "3Dcard";
@import "footer";
@import "header";
@import "variables";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-family: 'Anton', sans-serif;
    line-height: 1.15;
    font-size: 72.5%;
  }

body{
  line-height:2;
}

h1{
  color:#fafafa;
  font-size: 60px;
} 



h3{
 color:#00a02b;
 font-size: 25px;
 text-align: center;
} 

p{
color: #000000;
 font-size: 19px;
 font-family: "Liberation Mono", sans-serif;
}

ul{
  color:#07852a;
  font-size: 20px;
 }

 ol{
  color:#0ea72f;
  font-size: 20px;
 }

 a {
  color: #fafafa;
  text-decoration: none;
}

a:hover {
  color: #c0ca33;
  transform:scale(1.1,1.1);
  text-decoration: none;
}

    
  .titulo{
    text-align: center;
  }
  
  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #038c43;
    background-image: linear-gradient(45deg, #038c43 0%, #FFFB7D 100%);  
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 23px;
    width: 15rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
  }
  
  .button:hover{
    transform:scale(1.1,1.1);
  }

  .white:hover{
    color:white;
  }
  
  .customRow{
    margin-right: none!important;
    width: 90%;
    padding-left: 3rem;
  }